{% extends 'partials/base.html.twig' %}

{% block content %}

         <!-- Begin page content -->


                 <!-- Main jumbotron for a primary marketing message or call to action -->
             </div>
         <div class="hero-unit fill">
             <div class="container">

             </div>
             <span class="herotext"><a href="http://www.library.ucla.edu">UCLA Library</a> and the <a href="http://www.arl.org">Association of Research Libraries</a> will present</span></div>
         </div>

         <div class="container">
             <!-- Example row of columns -->
             <div class="row">
                 <div class="col-md-7 col-md-offset-1">
                     {{ page.content }}
                 </div>
                 <div class="col-md-4">
                     <div class="circular"></div>
                 </div>

    </div>
{% endblock %}
