{% extends 'partials/base.html.twig' %}

{% block content %}

         <!-- Begin page content -->


                 <!-- Main jumbotron for a primary marketing message or call to action -->
             </div>
         <div class="hero-unit fill">
             <div class="container">

             </div></div>


         <div class="container">
             <!-- Example row of columns -->
             <div class="row">
                 <div class="col-md-6 col-md-offset-2">
                     {{ page.content }}
                 </div>
                 <div class="col-md-4">
                     <div class="circular"></div>
                 </div>

    </div>
{% endblock %}
