{% extends 'partials/base.html.twig' %}

{% block content %}

<!-- Begin page content -->


<!-- Small jumbotron for interior pages-->
</div>
<div class="hero-unit-sm">
    <div class="container">

    </div></div>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            {{ page.content }}
        </div>
        <div class="col-md-4">
            <div class="circular-schedule"></div>
        </div>

    </div>
    {% endblock %}